<AuthorizeView Roles="sysadmin">
    <Authorized>

        <div class="alert alert-secondary mt-4" role="alert">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <strong>Welcome SysAdmin</strong>
        </div>

    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="admin">
    <Authorized>

        <div class="alert alert-secondary mt-4" role="alert">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <strong>Welcome School Admin</strong>
        </div>

    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="teacher">
    <Authorized>

        <div class="alert alert-secondary mt-4" role="alert">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <strong>Welcome Teacher</strong>
        </div>

    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="student">
    <Authorized>

        <div class="alert alert-secondary mt-4" role="alert">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <strong>Welcome Student</strong>
        </div>

    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="author">
    <Authorized>

        <div class="alert alert-secondary mt-4" role="alert">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <strong>Welcome Author</strong>
        </div>

    </Authorized>
</AuthorizeView>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
